.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.03);
  width: 90%;
  margin: 20px;
  padding: 10px;
}

.projectContent > * {
  margin-bottom: 0.5em;
}

.projectContent ul {
  padding-left: 1.5em;
}

.project > * {
  margin-bottom: 0.5em;
}

.centered {
  text-align: center;
}
